
@media screen and (max-width: 1126px){
    .map-content {
        margin: 0  auto 73px;
        width: 1024px;
    }
    .map-content img {
        width: 1024px;
    }
}
@media screen and (max-width: 1087px){
    .main-container{
        max-width: 832px;
    }
    .header--contact{
        grid-template-columns: 1fr  1fr;
    }
    .contact-phone-mail {
        display: none;
    }
    .menu-button {
        display: none;

    }
    .photo-header {
        background-image: url("../css/img/fone-main-1088.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    .types-tours{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    .directions-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-auto-rows: 1fr 1fr 1fr;
    }
    /* sentence heading */

    
    /* map */

    .map-content {
        margin: 0  auto 73px;
        width: 100%;
    }
    .map-content img {
        width: 100%;
        height: 100%;
    }

    /* about baikal */

    .about-baikal {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
    .baikal--video img{
        width: 100%;
        height: 398px;
    }

    /* gallery content */

    .gallery--content img {
        width: 100%;
    }
    .info-baikal--tegs p:first-of-type{
        font-size: 48px;
    }

}
@media screen and (max-width: 833px){
    .main-container{
        max-width: 672px;
    }
    .header--contact{
        grid-template-columns: 1fr  1fr;
    }
    .contact-phone-mail {
        display: none;
    }
    .menu-button {
        display: none;

    }
    .header-content h1 {
        
        font-size: 64px;
    }
    .header-content p {
        font-size: 18px;
    }
    .photo-header {
    
        background-image: url("../css/img/fone-main-770.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .types-tours{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    .directions-content {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-auto-rows: 1fr 1fr 1fr 1fr;
    }
    .info-baikal--content {
        grid-template-columns: 1fr;
    }
    .info-baikal--img {
        display: none;
    }
    .baikal-form-conteiner-grid {
    grid-template-areas:"text1 text1 text1 text1"
                        "text2 text2 text2 text2"
                        "text3 text3 text3 text3"
                        "text4 text4 text4 text4"
                        "text5 text5 text6 text6"
                        "data1 com com com"
                        "data2 com com com"
                        
                        
                        ;
    }
    .baikal-form--item {
        width: 100%;
    }
    .baikal-form--item-data {
        width: 100%;
    }
    .baikal-form--item-comments {
        width: 100%;
    }
    .baikal-form--item:nth-of-type(5),
    .baikal-form--item:nth-of-type(6){
        width: 100%;
    }
    .baikal-check--item {
        flex-wrap: wrap;
    }
    .baikal-form-check__box-content {
        width: 188px;
    }
    .footer-navigation section{
        display: none;
    }
    .mobail-footer-navigation {
        display: flex;
        justify-content: space-between;
    }
    .footer-copyrigth {
        grid-template-columns: 1fr 1fr;
    }
    .copyrigth-booking {
        display: none;
    }
    .copyrigth-address {
        display: none;
    }
    .photo-header {
        height: 636px;
    }
    .header-row {
        grid-template-rows: 215px 67px 100px 114px;
    }
    .header-content h1{
        width: 65%;
    }
    .header-content p{
        width: 60%;
    }
    .gallery--content {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .gallery--content img:nth-of-type(5),
    .gallery--content img:nth-of-type(6){
        display: none;
    }
    .info-baikal--tegs p:first-of-type {
        font-size: 36px;
    }

}
@media screen and (max-width: 600px){
    .main-container{
        max-width: 450px;
    }
    .header--contact{
        grid-template-columns: 1fr  1fr;
        
    }
    .header-row {
        grid-template-rows: 215px 67px 100px 154px;
    }

    .contact-phone-mail {
        display: none;
    }
    .button--header {
        display: none;
    }
    .menu-button {
        display: block;

    }
    .header-content {
        width: 450px;
    }
    .header-nav {
        display: none;
    }
    .header-content:first-of-type{
        align-items: center;
        flex-wrap: wrap;
        
    }
    
    .header-content h1 {
        font-size: 48px;
        
    }
    .header-content p {
        font-size: 14px;
        line-height: 20px;
    }
    .choise-tour {
        font-size: 16px;
    }
    .types-tours{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        gap: 20px;
    }
    .directions-heading {
        text-align: center;
        font-size: 22px;
    }
    .directions-content {
        display: grid;
        grid-template-columns: 1fr ;
        grid-auto-rows: 1fr ;
        text-align: center;
    }
    .directions--item {
        align-items: center;
    }

    .sentece-content {
        grid-template-columns: 1fr;
        grid-row: 1fr;
    }
    .sentece--item:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .baikal-form-submit {
        flex-direction: column;
        flex-direction: column-reverse;
        row-gap: 27px;
    }
    .baikal-check--item {
        margin-left: 26px;
    }
    .gallery--content img:not(:first-of-type) {
        display: none;
    }
    .gallery-arrow a{
        display: none;
    }
    .photo-gallery--mobail {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
    .info-baikal--heading h2{
        font-size: 38px;
    }
    .info-baikal-tegs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .info-baikal--tegs {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .info-baikal--tegs {
        text-align: center;
    }
    .baikal-form-conteiner-grid {
        grid-template-areas:
            "text1 text1 "
            "text2 text2 "
            "text3 text3 "
            "text4 text4 "
            "text5 text5 "
            "text6 text6 "
            "data1d data2"
            "com com ";
    }
    .footer-contact-phone-mail {
        display: none;
    }
    .footer-copyrigth {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 30px;
        padding-bottom: 0px;
    }
    .copyrigth-political {
        align-items: flex-start;
    }

    
}
@media screen and (max-width: 360px){
    .main-container{
        max-width: 312px;
    }
    .logo--span {
        font-size: 16px;
    }
    .logo-span--text {
        font-size: 16px;
    }
    .photo-header {
    
        background-image: url("../css/img/fone-main-600.jpg");
        background-size: 100% 100%;
        
        
        background-repeat: no-repeat;
        
    }
    .header-content {
        width: 288px;
    }
    .header-content h1 {
        font-size: 40px;
        width: 100%;
    }
    .header-content p {
        font-size: 14px;
        width: 100%;
    }
    .choise-tour {
        font-size: 16px;
    }
    .choice-button {
        justify-content: center;
    }
    .info-baikal--text p{
        font-size: 16px;
    }
    .directions-heading h2 {
        font-size: 22px;
    }
    .sentence-heading h2 {
        font-size: 22px;
    }
    .heading-map h2 {
        font-size: 22px;
        text-align: start;
    }
    .about-baikal--text h2 {
        font-size: 22px;
    }
    .about-baikal--text p {
        font-size: 16px;
    }
    .header-gallery h2 {
        font-size: 22px;
    }
    .info-baikal--heading h2 {
        font-size: 22px;
    }
}
@media screen and (max-width: 320px){
    .main-container{
        max-width: 288px;
    }
    .logo--span {
        font-size: 16px;
        margin-left: 10px;
    }
    .logo-span--text {
        font-size: 16px;
        display: inline-block;
    }
    .header--contact {
        padding: 16px 16px;
    }
    .header--contact{
        grid-template-columns: 85%  1fr;
        
    }
    .header-content {
        width: 280px;
        padding-left: 16px;
    }
}
